<div class="yachts-container">
  <% @yachts.each do |yacht| %>
  <div class="yacht">
    <%= yacht.name %>
    <%= yacht.description %>
    <%= yacht.price_per_day %>
    <%= yacht.capacity%>


  </div>
  <% end %>
</div>
