// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.form-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
